body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding:0;
    background-color: white;
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    
  }
  
  .top-banner {
    background-color: #f89999; 
    text-align: center;
    padding: 5px 0;
    color: white;
    font-size: 17px;
  }

  .navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff; 
    padding: 10px 20px;
  }
  
  .logo {
    height: 80px;width: 100px; 
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
  }
  
  .icon {
    height: 30px; 
    width: 30px;
    margin: 0 15px;
    vertical-align: middle;
  }
  
  .navbar-icons i {
    vertical-align: middle;
  }
.boxxx{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
.boxxx h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#email{
    width: 500px;

}
.login-container {
    background: transparent; 
    padding: 20px 30px;
    border-radius: 8px;
    width: 500px;
    height: 700px;
    text-align: center;
    position: relative;
    opacity: 1;
    align-items: center;
  }

.login-container::before {
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 10px;
    background-size: 400%;
    z-index: -1; 
  }
.login-container h2 {
    margin-bottom: 20px;
    color: #333;
  }

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b13232;
    border-radius: 4px;
  }

.login-container button {
    width: 522px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 18px;
  }

.login-container button:hover {
    background-color: #0056b3;
  }

.login-container a {
    display: block;
    margin-top: 18px;
    color: #007bff;
    padding-left: 25px;
    text-decoration: none;
  }

.login-container a:hover {
    text-decoration: underline;
  } 

  footer {
    background-color: #f89999;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-media a {
    margin: 0 10px;
    color: #e63946;
    text-decoration: none;
    height: 50px;
    width: 50px;
  }
  img {
    max-width: 40px; 
    height: auto;    
    width: 50%;      
  }
  
  
  .contact-info a {
    color: #e63946;
  }